* {
    font-family: Arial, Helvetica, sans-serif;
}
body {
    margin: 0;    
}
ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}
.page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;    
}
#login-page {
    display: flex;
    background-color: #fff;
}
#login-page h1 {
    text-align: center;
}
#login-name-input {
    width: 100%;
    max-width: 260px;
    text-align: center;
    outline: 0;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    background-color: #ddd;
    border: 2px solid #000;
}
#chat-page {
    display: none;
}
.chat-area {
    flex: 1;
    width: 100%;
    display: flex;
    background-color: #ddd;
}
.chat-list {
    flex: 1;
    background-color: #fff;
    overflow-y: scroll;
    max-height: calc(100vh - 40px);
}
.chat-list li {
    padding: 5px;    
    font-size: 15px;
}
.chat-list li.m-status {
    color: #333;
    font-style: italic;
}
.chat-list li.m-text span {
    font-weight: bold;
    color: #00f;
}
.chat-list li.m-text span.me {    
    color: #f00;
}
.user-list {
    width: 60px;
    background-color: #ddd; 
    overflow-y: scroll;
    max-height: calc(100vh - 40px);
    transition: .5s ease-in-out;    
}
.user-list li {
    padding: 5px;    
    font-size: 15px;
    opacity: 0;
    transition: .5s ease-in-out;    
}
.chat-input {
    width: 100%;
    display: flex;
}
#chat-text-input {
    flex: 1;
    height: 40px;
    padding: 0px 10px;
    font-size: 16px;
    background-color: #ccc;
    outline: 0;
    border: 0;
}
#input-menu {
    display: none;
}
#input-menu:checked ~ .user-list {
    width: 300px;
}
#input-menu:checked ~ .user-list li {
    opacity: 1;
}
.menu {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #fff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.menu div {
    display: block;
    height: 2px;
    background-color: #333;
    width: 30px;
    position: relative;
    transition: .5s ease-in-out;
}
.menu div::before,
.menu div::after {
    content: '';
    display: block;
    background-color: #333;
    height: 2px;
    width: 30px;
    position: absolute;
    transition: .5s ease-in-out;
}
.menu div::before {
    top: -10px;
}
.menu div::after {
    bottom: -10px;
}
#input-menu:checked ~ label .menu div {
    transform: rotate(45deg);
}
#input-menu:checked ~ label .menu div::before {
    top: 0;
    transform: rotate(90deg);
}
#input-menu:checked ~ label .menu div::after {
    bottom: 0;
    transform: rotate(90deg);
}